/* Tambahkan pembungkus untuk stepper jika belum ada */
.checkout-stepper-wrapper {
  background-color: #f7f9fc;
  padding: 24px 0;
  width: 100%;
  box-sizing: border-box;
}

.MuiStepConnector-line {
  display: none !important;
}

.MuiStepConnector-root {
  height: 3px;
  background-color: #ccc;
  border-radius: 2px;
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: #240750;
}

.MuiPaper-root {
  background: transparent !important;
}

.MuiStepIcon-root.Mui-active,
.MuiStepIcon-root.Mui-completed {
  color: #240750 !important;
}
